@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


.codex-editor {
  position: absolute;
  margin-top: 0;
}


.codex-editor__redactor {
  padding-top: 0;
}


.ce-block:first-child {
  margin-top: 0;
}


.ce-paragraph {
  font-size: 16px;
  line-height: 1.7;
}

@media (min-width: 640px) {
  .ce-paragraph {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .ce-paragraph {
    font-size: 20px;
  }
}


.ce-header {
  font-weight: 700;
}

.ce-header[data-level="1"] {
  font-size: 28px;
}

@media (min-width: 640px) {
  .ce-header[data-level="1"] {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .ce-header[data-level="1"] {
    font-size: 36px;
  }
}


.ce-block__content {
  margin-left: 0;
  margin-right: 0;
}


.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  width: 36px;
  height: 36px;
}
